
.icon-pi-all:before { content: '\e800'; } /* '' */
.icon-icon-doc_team:before { content: '\e801'; } /* '' */
.icon-icon-preparation:before { content: '\e802'; } /* '' */
.icon-icon-recovery:before { content: '\e803'; } /* '' */
.icon-icon-reporting:before { content: '\e804'; } /* '' */
.icon-icon-role:before { content: '\e805'; } /* '' */
.icon-icon-scope:before { content: '\e806'; } /* '' */